

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInSlow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUp {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-in-slow {
  animation: fadeInSlow 2s ease forwards;
}

.animate-slide-up {
  animation: slideUp 1.5s ease forwards;
}